language: cpp

addons:
  apt:
    update: true
    packages:
      - cppcheck
      - valgrind
      - cmake
      - libgtest-dev
      - lcov

script:
  - cppcheck --error-exitcode=1 --suppress=missingIncludeSystem src/*.c include/*.h
  - mkdir build
  - cd build
  - cmake .. && make
  - valgrind --error-exitcode=1 --leak-check=full --show-leak-kinds=all --track-origins=yes ./tests
  - lcov --directory . --capture --output-file coverage.info
after_success:
  - bash <(curl -s https://codecov.io/bash)
